# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Raw dataset
data/raw/

# Generated processed data
data/processed/

# Generated model artifacts
models/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db